{% extends 'layout.html' %}

{% block js %}
<script>
$(document).ready(function() {
    $('.data-table').dataTable();
});
</script>
{% endblock %}

{% block body %}
  <table class="table table-bordered data-table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th class="hidden-xs">Bytes</th>
      <th>Modified</th>
      <th class="hidden-xs hidden-sm">Created</th>
    </tr>
    </thead>
    {% for file in index %}
      <tr>
        <td>
        <!--TODO: compute dir filesize summ.-->
          {% if file['dir'] %}
              DIR
          {% else %}
              _
          {% endif %}
        </td>
        <td><a href="{{ url_for('wiki.page', name=file['name']) }}">{{ file['name'] }}</a></td>
        <td class="hidden-xs">
          {% if file['dir'] %}
              _
          {% else %}
              {{ file['size'] }}
          {% endif %}
        </td>
        <td>
          {% if file['dir'] %}
              _
          {% else %}
              {{ file['ctime']|datetime }}
          {% endif %}
        </td>
        <td class="hidden-xs hidden-sm">
          {% if file['dir'] %}
              _
          {% else %}
              {{ file['mtime']|datetime }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}